# Removing duplicate from dataset

1.Pandas Dataframe drop_duplicates() function removes duplicate rows from dataframe
2.the drop_duplicates() function parameter are:
    a. subset : column label or sequence of labels to consider for identifying duplicate row
    b. keep : allowed values are {'first','last',False} , default 'first'
        1. first : duplicate rows except the first one is deleted.
        2. last : duplicate rows except the last one is deleted.
        3. False : all the duplicate rows are deleted.
    c. inplace : if True, the source DataFrame is changed. By default , source DataFrame remains
                 unchanged and a new DataFrame is returned.

In [1]:
import pandas as pd

# Drop Duplicate Rows Keeping the First One

In [2]:
d1 = {'A': [1, 1, 1, 2], 'B': [2, 2, 2, 3], 'C': [3, 3, 4, 5]}

source_df = pd.DataFrame(d1)
print('Source DataFrame:\n', source_df)

# keep first duplicate row
result_df = source_df.drop_duplicates()
print('Result DataFrame:\n', result_df)

Source DataFrame:
    A  B  C
0  1  2  3
1  1  2  3
2  1  2  4
3  2  3  5
Result DataFrame:
    A  B  C
0  1  2  3
2  1  2  4
3  2  3  5

# Drop Duplicates and Keep Last Row

In [3]:
result_df = source_df.drop_duplicates(keep='last')
print('Result DataFrame:\n', result_df)

Result DataFrame:
    A  B  C
1  1  2  3
2  1  2  4
3  2  3  5

# Delete All Duplicate Rows from DataFrame

In [4]:
result_df = source_df.drop_duplicates(keep=False)
print('Result DataFrame:\n', result_df)

Result DataFrame:
    A  B  C
2  1  2  4
3  2  3  5

# Identify Duplicate Rows based on Specific Columns

In [5]:
d1 = {'A': [1, 1, 1, 2], 'B': [2, 2, 2, 3], 'C': [3, 3, 4, 5]}

source_df = pd.DataFrame(d1)
print('Source DataFrame:\n', source_df)

result_df = source_df.drop_duplicates(subset=['A', 'B'])
print('Result DataFrame:\n', result_df)

Source DataFrame:
    A  B  C
0  1  2  3
1  1  2  3
2  1  2  4
3  2  3  5
Result DataFrame:
    A  B  C
0  1  2  3
3  2  3  5

# Remove Duplicate Rows in place

In [6]:
source_df.drop_duplicates(inplace=True)
print(source_df)

   A  B  C
0  1  2  3
2  1  2  4
3  2  3  5

# Removing duplicate row from transfusion dataset

In [7]:
df = pd.read_csv("transfusion.csv")

In [20]:
df.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),D
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [21]:
df.tail()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),D
743,23,2,500,38,0
744,21,2,500,52,0
745,23,3,750,62,0
746,39,1,250,39,0
747,72,1,250,72,0

In [9]:
len(df)

748

In [10]:
#Droping duplicate row keeping first row
r_df = df.drop_duplicates()

In [11]:
len(r_df)

533

In [13]:
print("Total number of duplicate row : ",len(df) - len(r_df))

Total number of duplicate row :  215

In [14]:
#deleting all duplicate row
rf_df = df.drop_duplicates(keep = False)

In [15]:
len(rf_df)

473